// title
h1{
    font-family: 'Dela Gothic One', cursive;
    font-size: 120px;
    text-align: center;
    color: rgb(197, 0, 0);
    margin: 100px 0 50px 0;
}


// 名場面slide

.swiper {
    max-width: 100%;
}


  
//   カード人物紹介





// ページトップに戻る
#page-top {
    margin-top: 0%;
    position: fixed;
    bottom: 115px;
    right: 30px;
    line-height: 1;
    z-index: 99;
  
    a {
    background: rgba(255, 1, 1, 0.769);
    font-size: 22px;
    color: rgba(0, 0, 0, 0.762);
    width: 80px;
    padding:30px 20px;
    text-align: center;
    display: block;
    border-radius: 99px;
    transition: all .1s ease;
    &:hover {
    opacity: 0.5;
    }
    }
}


// フッター

footer{
    text-align: center;
    padding: 40px;
    background-color: rgba(225, 2, 2, 0.865);
    margin-top: 40px;
   
  
}
