// 名場面slide

.swiper {
    max-width: 75%;
    margin: 30px 0;
  }
  

  
//   カード人物紹介
.card-text {
    text-align: center;
}




// ページトップに戻る
#page-top {
    margin-top: 0%;
    position: fixed;
    bottom: 115px;
    right: 30px;
    line-height: 1;
    z-index: 99;
  
    a {
    background: rgba(255, 1, 1, 0.769);
    font-size: 22px;
    color: rgba(0, 0, 0, 0.762);
    width: 80px;
    padding:30px 20px;
    text-align: center;
    display: block;
    border-radius: 99px;
    transition: all .1s ease;
    &:hover {
    opacity: 0.5;
    }
    }
}


// フッター

footer{
    text-align: center;
    padding: 40px;
    background-color: rgba(225, 2, 2, 0.865);
    margin-top: 40px;
   
  
}
